$font-special: 'Signika Negative', sans-serif;
$color-primary: #FFFF8D;
$color-secundary: #FBC02D;
$color-lightgrey: #F5F5F5;
$color-text: #212121;
$space-primary: 30px;
$break-point: 750px;
$break-point2: 850px;