@use "base";

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: base.$space-primary/2;
    margin: 0 base.$space-primary/2;
}

.gallery__item {
    border: 1px solid silver;
    border-radius: 2px;
    padding: base.$space-primary;
    background-color: white;
    display: flex;
    align-items: center;

    overflow: hidden;

    & img {
        width: 100%;
        display: block;
        transition: transform 0.5s;
    }

    &:hover {
        border: 2px solid base.$color-secundary;
    
        & img {
            transform: scale(1.1);
        }
    }
}

.photo-product {
    width: 100%;
    min-width: 300px;
    margin: base.$space-primary auto;

    @media screen and (min-width: base.$break-point) {
        width: 75%;
    }
}