@use "base";

html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
    background-color: base.$color-lightgrey;
    margin: 0;
}

.wrapper {
    background-color: white;
    font-family: base.$font-special;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    color: base.$color-text;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
}

h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: base.$space-primary/3;
}

.tucne {font-weight: 600;}
strong {font-weight: 400;}

.section {
    & p:first-child {
        margin-top: 0;
    }

    &-terms-of-trade {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
    }

    &-reference,
    &-photo {
        text-align: center;
        margin-bottom: base.$space-primary;
    }

    &-about-us {
        margin-bottom: base.$space-primary;
    }
}

.main,
.footer__top {
    padding: base.$space-primary/2 base.$space-primary;
}

.footer {
    background-image: linear-gradient(to bottom, white, base.$color-primary);

    h4 {
        color: base.$color-text;
    }

    &__copyright {
        background-color: base.$color-primary;
        color: grey;
        font-size: 14px;
        text-align: center;
        padding: base.$space-primary/3 0;

        & p {
            margin: 0;
        }
    }
}

.price-bio__text,
.price-standard__text {
    margin-bottom: base.$space-primary;
}

/*.contacts__ je div v záložce kontakty, do které jsem do pravého sloupce gridu vložila formulář, resp. div .contact-form, v levém sloupci div .contacts__left-column*/
.contacts__grid {
    @media screen and (min-width: base.$break-point2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: base.$space-primary/2;
        align-items: start;
    }
}

//proč mi nefunguje stylování divů s class contacts__item???
.contacts__item {
    margin-bottom: base.$space-primary;
    padding: base.$space-primary/3;

    &.adress {
        display: inline-block;
        vertical-align: top;
    }
}

.contacts__map {
    width: 100%;
}