@use "base";

.phone,
.email {
    text-decoration: none;
    color: base.$color-text;

    &--small {
        font-size: 18px;
        margin: base.$space-primary/3 0;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        color: base.$color-secundary;
    }
}

.link {
    color: base.$color-text;
    font-weight: bold;

    &--footer {
        font-weight: 400;
        font-size: 14px;
        display: block;
    }

    &--terms {
        font-weight: 400;
    }

    &:hover,
    &:focus,
    &:active {
        color: base.$color-secundary;
    }
}

.terms-of-trade__list {
    list-style: none;
}