@use "base";

.menu {
    margin-bottom: base.$space-primary;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        
        @media screen and (min-width: base.$break-point) {
            display: flex;
            justify-content: center;
        } 
    }
    
    &__item {
        margin-bottom: base.$space-primary / 2;

        @media screen and (min-width: base.$break-point) {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            @media screen and (min-width: base.$break-point) {
                border-right: 1px solid silver;
            }
        }
    }
    
    &__link {
        text-decoration: none;
        color: base.$color-text;
        font-size: 24px;
        display: inline-block;
        padding: base.$space-primary/2 base.$space-primary;
        border: 1px solid silver;
        border-radius: 4px;
        box-shadow: 4px 4px 4px silver;
        min-width: 300px;

        @media screen and (min-width: base.$break-point) {
            min-width: auto;
            border: none;
            box-shadow: none;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            padding: base.$space-primary/3 base.$space-primary;
        }
        
    
        &:hover,
        &:focus,
        &:active {
            background-color: base.$color-primary;
            font-weight: 700;
        }

        &--active {
            background-color: base.$color-primary;
            font-weight: 700;
        }
    }

}